
#english { width: 95% }
#spanish { width: 50% }

#c      { width: 90%; } 
#java   { width: 70%; }
#python { width: 75%; }
#qt     { width: 75%; }
#web    { width: 60%; }
#sql    { width: 85%; }
#git    { width: 80%; }
#linux  { width: 85%; }
